#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| Apache Zeppelin         |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition: `5 + 3`
2. Subtraction: `10 - 4`
3. Multiplication: `6 * 7`
4. Division: `20 / 4`
5. Modulus: `9 % 2`

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Soumyadip Dey